<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
	looks a bit nicer. -->
	<!-- * * * * * * Home view {Homepage} * * * * * *  -->
	<div id="homeView" class="container-fluid" >
		<!-- intro panel -->
		<div id="introPanel" class=" col-md-5" style="background-color:rgba(255,255,255,0.8); top:100px; left:50px;">
			<div class="panel-body">
				<h2>A Home Dinner Service</h2>
				<div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac eros massa. Cras quis faucibus urna, in malesuada massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam sed malesuada risus. Duis tempor dapibus metus, at convallis lorem consectetur eu. Aenean eu dolor in lacus dignissim auctor. Proin a lacinia eros. Nulla augue nunc, placerat ut semper et, molestie eget elit. Mauris facilisis elit at ultrices fermentum. Quisque euismod odio lectus, id fermentum est tempus a. Morbi nec lacinia odio.
				</div>
				<div id="quickStart">
					<br></br>
					<div>Start quickly<p></p></div>
					<!-- Button here to go to a new dinner -->
					<button id="newDinnerButton" href="#/search" class="btn btn-warning">Create new dinner</button>
				</div>
			</div>
		</div>
	</div>
<!-- <a href="#/search" class="btn btn-primary">Create new dinner</a> -->