<!-- * * * * * * Dish detail view {Dish detail page} * * * * * * -->
<!--detailed info of a dish on the right-->
<div id="dishDetailView" class="col-md-9 panel-group panel-body" style="background-color: rgba(222,208,196,0.8); max-height:750px; overflow: auto;">
	<!--thumbnail-->
	<div class="col-md-6 panel-group">
		<div class="col-md-12 panel-header">
			<h4 id="dishName">
				<!-- Where the dish name locates.  -->
			</h4>
		</div>
		<div id="dishImage" class="col-md-12 panel-body">
			<!-- Where the dish image locates.  -->
		</div>
		<div id="dishSummary" class="col-md-12 panel-body">
			<!-- Where the dish description locates.  -->
		</div>
		<div class="col-md-12 panel-body">
			<!-- Button here to go back to dish searching page. -->
			<button id="goBackButton" type="button" class="btn btn-warning">Back to Select Dish</button>
		</div>
	</div>

	<!--Ingredient facts-->
	<div class="col-md-6 panel-group" style="background-color: rgba(252,159,77,0.5);">
		<div class="col-md-12 panel-header">
			<h4>Ingredients for
				<span id="guestNumberOutput">
					<!-- Where the number of guests locates.  -->
				</span>
				people
			</h4>
		</div>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-4"></th>
						<th class="col-md-5"></th>
						<th class="col-md-1"></th>
						<th class="col-md-2"></th>
					</tr>
				</thead>
				<tbody id="dishIngredients">
					<!-- Where the dish ingredients locate.  -->
				</tbody>
			</table>
		</div>

		<div>
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-9"></th>
						<th class="col-md-1"></th>
						<th class="col-md-2"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<!-- Button here to add the dish into the menu. -->
							<button id="setDishButton" type="button" class="btn btn-warning"></button>
						</td>
						<td>SEK</td>
						<td id="dishPrice">
							<!-- Where the dish price locates.  -->
						</td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

	<!-- Preparation -->
	<div class="col-md-12 panel-body ">
		<div class="col-md-12 panel-header"><h4>PREPARATION</h4></div>
		<div id="dishPreparation" class="panel-body"></div>
	</div>
</div>
