<div class="col-md-9 panel-body panel-group" style="background-color: rgba(222,208,196,0.8); height = 750px;" ng-hide="!isLoading">
	<div style="text-align:center; font-size:xx-large">
		<br />
		<img src="loader.gif"/>
		<br />
		Loading......
	</div>
</div>
<!-- * * * * * * Dish detail view {Dish detail page} * * * * * * -->
<!--detailed info of a dish on the right-->
<div id="dishDetailView" class="col-md-9 panel-group panel-body" style="background-color: rgba(222,208,196,0.8); max-height:750px; overflow: auto;" ng-hide="isLoading">
	<!--thumbnail-->
	<div class="col-md-6 panel-group" >
		<div class="col-md-12 panel-header">
			<h4 id="dishName">
				<!-- Where the dish name locates.  -->
				{{currentDish.title}}
			</h4>
		</div>
		<div id="dishImage" class="col-md-12 panel-body">
			<!-- Where the dish image locates.  -->
			<img ng-src="{{currentDish.image}}" class="img-responsive" style="width:100%; height:350px"/>
		</div>
		<div id="dishSummary" class="col-md-12 panel-body">
			<!-- Where the dish description locates.  -->
			{{currentDish.instructions}}
		</div>
		<div class="col-md-12 panel-body">
			<!-- Button here to go back to dish searching page. -->
			<a id="goBackButton" href="#!/search" type="button" class="btn btn-warning">Back to Select Dish</a>
		</div>
	</div>

	<!--Ingredient facts-->
	<div class="col-md-6 panel-group" style="background-color: rgba(252,159,77,0.5);">
		<div class="col-md-12 panel-header">
			<h4>Ingredients for {{getNumberOfGuests()}} people
			</h4>
		</div>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-4"></th>
						<th class="col-md-6"></th>
						<th class="col-md-2"></th>
					</tr>
				</thead>
				<tbody id="dishIngredients" >
					<!-- Where the dish ingredients locate.  -->
					<tr ng-repeat="ing in currentDish.extendedIngredients">
						<td>
							{{(ing.amount * getNumberOfGuests()).toFixed(2)}} {{ing.unit}}
						</td>
						<td>
							{{ing.name}}
						</td>
						<td style="text-align: right">
							{{(ing.amount * getNumberOfGuests()).toFixed(2)}} SEK
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<table class="table">
				<thead>
					<tr>
						<th class="col-md-9"></th>
						<th class="col-md-1"></th>
						<th class="col-md-2"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<!-- Button here to add the dish into the menu. -->
							<button id="setDishButton" type="button" class="btn btn-warning" ng-click="buttonAction()">
								{{getButtonLabel()}}
							</button>
						</td>
						<td>SEK</td>
						<td id="dishPrice">
							<!-- Where the dish price locates.  -->
							{{getCurrentPrice()}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
