<!-- * * * * * * Search view {Select menu page} * * * * * * -->
<!--Thumbnails of dishes on the right-->
<div id="menuThumbnailView" class="col-md-9 panel-body panel-group" style="background-color: rgba(222,208,196,0.8); max-height: 750px;">
	<div class="col-md-12 panel-header">
		<h4>Select Dishes</h4>
	</div>
	<div id="searchPanel">
		<div class="col-md-4 panel-body">
			<input id="filterKeyword" class="form-control" type="text" placeholder="Enter key words to search">
		</div>
		<div class="col-md-4 panel-body"><button id="searchButton" type="button" class="btn btn-default">Search</button>
		</div>
	</div>
	<div class="col-md-4 panel-body">
		<select id="searchType" class="form-control">
			<option value="all">All</option>
			<option value="appetizer">Appetizer</option>
			<option value="beverage">Beverage</option>
			<option value="bread">Bread</option>
			<option value="breakfast">Breakfast</option>
			<option value="dessert">Dessert</option>
			<option value="drink">Drink</option>
			<option value="main course">Main course</option>
			<option value="salad">Salad</option>
			<option value="sauce">Sauce</option>
			<option value="side dish">Side dish</option>
			<option value="soup">Soup</option>
		</select>
	</div>
	<div id="menu" class="row" style="overflow: auto; max-height: 625px; width: 100%; ">
		<!-- Where the search results locates. -->
	</div>
</div>
