<!-- * * * * * * Search view {Select menu page} * * * * * * -->
<!--Thumbnails of dishes on the right-->
<div class="col-md-9 panel-body panel-group" style="background-color: rgba(222,208,196,0.8); height = 750px;" ng-hide="!isLoading">
	<div style="text-align:center; font-size:xx-large">
		<br />
		<img src="loader.gif"/>
		<br />
		Loading......
	</div>
</div>
<div id="menuThumbnailView" class="col-md-9 panel-body panel-group" style="background-color: rgba(222,208,196,0.8); max-height: 750px;" ng-hide="isLoading">
	<div class="col-md-12 panel-header">
		<h4>Select Dishes</h4>
	</div>
	<div id="searchPanel">
		<form class="col-md-4 panel-body" name="filterField" ng-submit="filterField.$valid && setFilter(input)" >
			<input type="text" placeholder="Enter key words to search" ng-model="search.filter">
		</form>

		<div class="col-md-4 panel-body">
			<button type="button" class="btn btn-default" ng-click="searchDish(search.filter, search.type)">Search</button>
		</div>
	</div>
	<div class="col-md-4 panel-body">

		<select ng-model="search.type"  name="typeField">
			<option ng-repeat="t in types" value="{{t.id}}">
				{{t.name}}
			</option>
		</select>
	</div>
	<div  class="row" style="overflow: auto; max-height: 625px; width: 100%;">
		<!-- Where the search results locates. -->
		<div ng-repeat="dish in dishes" class="col-md-4 panel-body">
			<button class="panel">
				<a ng-href="#/details/{{dish.id}}" >
					<div class="panel-body">
						<img ng-src="https://spoonacular.com/recipeImages/{{dish.image}}"
						alt="{{dish.title}}"
						class="img-responsive"
						style="width:100%; height:200px"/>
					</div>
					<div class="tool panel-heading">
						{{dish.title}}
					</div>
					<div class="panel-footer">
						{{dish.readyInMinutes}} mins
					</div>
				</a>
			</button>
		</div>
	</div>
</div>
